* {
    padding: 0;
    margin: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

header {
    /* try use sticky and fix issue with nav disappearing after scrolling */
    /* position: -webkit-sticky; */
    /* position: sticky; */
	/* top: 0; */

    position: fixed;
    width: inherit;
    z-index: 1;
    background-color: aqua;
}

#navigation {
    background-color: rgb(144, 172, 113);
    text-align: center;
    width: 50%;
    margin: 0 25%;
}

#navigation ul li {
    display: inline-block;
}

main {
    width: 50%;
    margin: 0 25%;
    z-index: 0;
}

footer {
    background-color: aqua;
    text-align: center;
}

section {
    /* display: inline-block; */
    display: flex;
    padding: 5% 0;
    justify-content: space-between;
}

.section-title {
    font-family: 'Courier New', Courier, monospace;
}

.section-text {
    width: 70%;
    text-align: justify;
}

.section-picture-wrapper {
    display: inherit;
    width: 25%;
    align-items: center;
}

.section-picture {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.content-left {
    flex-direction: row;
}

.content-right {
    flex-direction: row-reverse;
}

.right {
    text-align: right;
}