.test {
    border: 1px dashed black;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

thead {
    background: turquoise;
}

td {
    text-align: center;
    padding: 3px;
}

/* will not work if border-collapse: collapse */
/* table {
    border-spacing: 30px;
} */

tbody tr:nth-child(even) {
    background: grey;
}

tbody td:nth-child(odd) {
    color: blueviolet;
}